@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body
    font-family: 'Lato', sans-serif
    font-size: 20px
    display: grid
    grid-template-areas: "header header header" "aside main main" "footer footer footer"
    grid-template-columns: 30% 70%
    h1,h2,h3,h4,h5,h6
        color: #F5F5F5
        text-transform: uppercase
        font-size: 35px
        text-align: center

.banner 
    display: grid
    align-content: center
    width: 400px
    height: 70px
    border-top-right-radius: 2.5em 50%
    border-bottom-right-radius: 2.5em 50%
    background-color: #363844

//------------------------------HEADER------------------------------
.header
    grid-area: header
    color: #cfbb90
    display: grid
    grid-template-columns: 30% 70%
    width: 100%   
    background-color: #363844
    .hearder__img
        border-radius: 50% 
        margin: 30px 10px 30px 50px
        align-self: center
        justify-self: center
        width: 18vw
    .header__conteiner
        border: 3px solid 
        align-self: center
        justify-self: center
        text-transform: uppercase
        .header__title
            font-size: calc(24px + 60 * (100vw / 1500))
            margin: 0
        .header__suptitle
            color: #F5F5F5
            padding: 0px 16px 0px 16px
            margin: 0 auto

//------------------------------ASIDE--------------------------------
.aside
    padding-top: 30px
    grid-area: aside
    background-color: #eae1cd 
    .aside__contact_links
        margin-top: 30px
        list-style-type: none
        .contact_line
            display: flex
            align-items: center
        .contact_link
            font-weight: 600
            margin-left: 30px
            text-decoration: none
            color: #363844
        .contact_link:hover
            color: #F5F5F5
        .email_img
            width: 50px
            height: auto
            padding: 10px
    .aside__skills, .aside__languages
        display: grid
        .aside__skills_title, .aside__languages_title
            justify-self: center
            text-transform: uppercase
            font-weight: 800
            margin-top: 30px
        .aside__skills_list, .aside__languages_list
            font-weight: 600
            line-height: 30px
            margin-top: 20px
            padding-left: 70px

//-------------------------------MAIN---------------------------------
.main
    grid-area: main
    background-color: #F5F5F5
    .main__aboutMe
        margin-top: 30px
        .main__aboutMe_text
            padding-left: 85px
            padding-bottom: 30px
            width: 60vw
    .main__codeExamples_pre
        margin: 0
        padding-bottom: 20px
    .main__education_list
        padding-left: 110px
        padding-bottom: 10px

//--------------------------------FOOTER------------------------------
.footer
    background-color: #363844
    height: 20vh
    grid-area: footer
    display: flex
    justify-content: center
    align-items: center
    .footer__rsschool
        background-color: #F5F5F5
        width: 200px
        height: auto
    .footer__p
        margin: 0 30px
        color: #F5F5F5
